<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page_head :: my_page_head('Home Page', 'none')}"></head>

<body>

    <div class="container-fluid p-2">

        <div th:replace="~{fragments/navigation :: menu}"></div>

        <div>

            <h2>My Project</h2>

            <div th:if="${message != null}" class="alert alert-success text-center">
                <h1>[[${message}]]</h1>
            </div>

        </div>

    </div>

    <script th:src="@{/js/common.js}"></script>

</body>

</html>